.pageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.switchPage {
    color: #9AA0A6;
    text-align: center;
}

.switchPage span {
    color: #3DDC97;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
}

.switchPage span:hover {
    color: #2FC18A;
    text-decoration: underline;
}