@import "tailwindcss";

:root {
  --bg-main: #0E0F12;
  --bg-surface: #181B20;
  --bg-elevated: #1E2228;
  --text-primary: #E6E8EB;
  --text-secondary: #9AA0A6;
  --accent-main: #3DDC97;
  --accent-hover: #2FC18A;
  --border-main: #242830;
  --border-subtle: #1A1D23;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: sans-serif;
}