.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.label {
    color: #9AA0A6;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.inputWrapper {
    position: relative;
}

.input {
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid #1A1D23;
    background-color: #1E2228;
    color: #E6E8EB;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.input:focus {
    border-color: #3DDC97;
    box-shadow: 0 0 8px rgba(61, 220, 151, 0.5);
    background-color: #181B20;
    outline: none;
}

.input:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.label {
    position: absolute;
    left: 1rem;
    top: .85rem;
    color: #9AA0A6;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;
}

.floating {
    top: -0.5rem;
    font-size: 0.75rem;
    color: #3DDC97;
    background-color: #181B20;
    padding: 0 0.25rem;
    border-radius: 0.75rem;
}

.input:focus {
    outline: none;
    border-color: #3DDC97;
    box-shadow: 0 0 8px rgba(61, 220, 151, 0.5);
    background-color: #181B20;
}

.icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9AA0A6;
    cursor: pointer;
    transition: color 0.2s ease;
}

.icon:hover {
    color: #3DDC97;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type="number"] {
    -moz-appearance: textfield;
}
