.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    font-weight: 500;
    color: #9AA0A6;
    margin-bottom: 0.25rem;
}

.input {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #242830;
    background-color: #1E2228;
    color: #E6E8EB;
}
