.modal {
    background: #181B20;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}