.formContainer {
    background-color: #181B20;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    font-weight: 500;
    color: #9AA0A6;
    margin-bottom: 0.25rem;
}

.select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #1E2228;
    border: 1px solid #242830;
    color: #E6E8EB;
}

.helper {
    font-size: 0.8rem;
    color: #9AA0A6;
    margin-top: 0.25rem;
}

.addButton {
    background-color: #3DDC97;
    color: #000;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 36%;
    align-self: flex-start;
    margin-top: 0.5rem;
}

.addButton:hover {
    background-color: #2FC18A;
}

.saveButton {
    background-color: #3DDC97;
    color: #000;
    font-weight: 700;
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin-top: 1rem;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #2FC18A;
}

.saveButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}